{% extends "layout/_layout" %} 

{% block content %} 

    <div class="banner mobile-service-banner">
        {% if entry.fullWidthBanner | length %}
            <img src="{{ entry.fullWidthBanner.one().url }}" alt="{{ entry.fullWidthBanner.one().title }}">
        {% endif %}
        <div class="container">
            <div class="banner-caption row mw-100">
                <div class="col-md-12">
                <h2>{{ entry.title|raw }}</h2>
                <p class="text">{{ entry.bannerDescription|raw }} </p>
                    <a href="{{ craft.app.sites.primarySite.baseUrl }}contactus" class="btn wt-btn">CONTACT US</a>
            </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    <section class="content-block">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 col-xl-5 mb-0 order-2 order-lg-1">
                   
                    <h2>{{ entry.ourServicesTitle|raw }}</h2>
                    <p>{{ entry.ourServicesDescription|raw }} </p>
                </div>
                <div class="col-lg-6 col-xl-6 order-1 order-lg-2">
                    
                    {% set file = entry.serviceImage.first %}
                    {% if entry.serviceImage | length %}
                        {% switch file.kind %}
                            {% case "image" %}
                                <img src="{{ entry.serviceImage.one().url }}" alt="{{ entry.serviceImage.one().title }}">
                                    {% case "video" %}
                                        <video  width="100%" height="350" autoplay muted loop>
                                            <source src="{{ entry.serviceImage.one().url }}" type="video/mp4">
                                        </video>
                        {% endswitch %}
                    {% endif %}
                    

                </div>
            </div>
        </div>
    </section>
    <section class="our-services-expertise bg-grey">
        <div class="container">
            <h2 class="mb-4 mb-md-5 text-center">We have expertise in</h2>
            <div class="row">
                {% set ourExpertise = craft.entries.section('expertise').orderBy('postDate desc').limit(4).all() %}
                {% if ourExpertise|length %}
                    {% for ourexpertise in ourExpertise %}
                        <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
                            <div class="services-item">
                                <h3>{{ ourexpertise.title }}</h3>
                                <p>{{ ourexpertise.ourServicesDescription|hacksaw(hack='words', limit='35') }}</p>
                                <a href="{{ ourexpertise.url }}" class="btn-text">LEARN MORE</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
    <!-- End Our-services -->

    <section class="project">
        <div class="container">
            <div class="d-flex mb-3 align-items-center justify-content-between">
            <h2>Our Subdivision Projects</h2> <a href="{{ craft.app.sites.primarySite.baseUrl }}projects" class="btn blue-btn d-none d-md-inline-block">VIEW ALL PROJECTS</a>
            </div>
            <div class="row d-none d-md-flex">
                {% set ourProjects = craft.entries.section('project').limit(3).all() %}
                {% if ourProjects|length %}
                    {% for project in ourProjects %}
                        <div class="col-md-4">
                            <div class="project-item">
                                <figure>
                                  <a href="{{ project.url }}">   <img src="{{ project.projectFeaturedImage.one().url }}" alt="{{ project.projectFeaturedImage.one().title }}"></a>
                                </figure>
                                <a href="{{ project.url }}"><h3>{{ project.title }}</h3></a>
        
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
              
            </div>
            
            <div class="feature-project-list d-block d-md-none">
                <div class="owl-carousel services-carousel owl-theme">
                     {% set ourProjects = craft.entries.section('project').limit(3).all() %}
                {% if ourProjects|length %}
                    {% for project in ourProjects %}
                    <div class="item">
                        <div class="project-item">
                            <figure>
                              <a href="{{ project.url }}">   <img src="{{ project.projectFeaturedImage.one().url }}" alt="{{ project.projectFeaturedImage.one().title }}"></a>
                            </figure>
                             <a href="{{ project.url }}"><h3>{{ project.title }}</h3></a>
                        </div>
                    </div>
                     {% endfor %}
                {% endif %}
              
                </div>
            </div>
            
            <div class="view-all d-block d-md-none">
                <a href="{{ craft.app.sites.primarySite.baseUrl }}projects" class="btn blue-btn mt-0 mt-lg-4 d-block">View All Projects</a>
            </div>
        </div>
    </section>

{% endblock %}