{% extends "layout/_layout" %} 

{% block content %} 

    <div class="banner inner-banner mobile-banner">
        {% if entry.fullWidthBanner | length %}
            <img src="{{ entry.fullWidthBanner.one().url }}" alt="{{ entry.fullWidthBanner.one().title }}">
        {% endif %}
        <div class="container">
            <div class="banner-caption row mw-100">
                <div class="col-md-6">
                <h2>{{ entry.bannerHeading|raw }}</h2>
                <p>{{ entry.bannerDescription|raw }} </p>
            </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
  
    <section class="our-services">
        <div class="container">
            {#<h6>{{ entry.whatWeDo|raw }}</h6>
            <h2 class="mb-5">{{ entry.title|raw }}</h2>#}
            <div class="row">
                {% set ourServices = craft.entries.section('services').all() %}
                {% if ourServices|length %}
                    {% for article in ourServices %}
                        <div class="col-lg-4 col-md-6">
                            <div class="services-item">
                                <h3>{{ article.title|raw }}</h3>
                                <p>{{ article.ourServicesDescription|hacksaw(hack='words', limit='50') }}</p>
                                <a href="{{ article.url }}" class="btn-text">LEARN MORE</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}