{% extends "layout/_layout" %} 
{% set title = "Home"|t('plugin-handle') %}
{% block content %} 
<div class="banner">
        {% set file = entry.fullWidthBanner.first %}
        {% if entry.fullWidthBanner | length %}
            {% switch file.kind %}
                {% case "image" %}
                    <img src="{{ entry.fullWidthBanner.one().url }}" alt="{{ entry.fullWidthBanner.one().title }}">
                        {% case "video" %}
                            <video  width="100%" height="100%" autoplay muted loop>
                                <source src="{{ entry.fullWidthBanner.one().url }}" type="video/mp4">
                            </video>
            {% endswitch %}
        {% endif %}
        <div class="container">
            <div class="banner-caption">
                <h1>{{ entry.bannerHeading|raw }}</h1>
                <p>{{ entry.bannerDescription|raw }} </p>
                <a href="/services" class="btn wt-btn mt-4">Our Services</a>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    <section class="our-mission bg-black">
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <h6>{{ entry.ourMissionTitle|raw }}</h6>
                    <h2>{{ entry.ourMissionDescription|raw }}</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our-mission -->
    <section class="our-services">
        <div class="container">
            <h6 class="text-color">{{ entry.whatWeDo|raw }}</h6>
            <h2 class="mb-5">{{ entry.ourServicesTitle|raw }}</h2>
            <div class="row">
                {% set ourServices = craft.entries.section('services').orderBy('postDate desc').limit(6) %}
                {% if ourServices|length %}
                    {% for article in ourServices.all() %}
                        <div class="col-lg-4 col-md-6">
                            <div class="services-item">
                                <h3>{{ article.title }}</h3>
                                <p>{{ article.ourServicesDescription|hacksaw(hack='words', limit='50') }}</p>
                                <a href="{{ article.url }}" class="btn-text">LEARN MORE</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                
            </div>
        </div>
    </section>
    <!-- End Our-mission -->
    <section class="about-us bg-black">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-xl-4 col-lg-6 order-2 order-lg-1 mb-5 mb-lg-0">
                    <h6>{{ entry.aboutUsTitle|raw }}</h6>
                    <h2>{{ entry.aboutUsHeading|raw }}</h2>
                    <p>{{ entry.aboutUsDescription|hacksaw(hack='words', limit='100') }}</p>
                    {% set aboutuslink = entry.aboutUsLink %}
                    <a href="{{ aboutuslink.one().url }}" 
                    class="btn blue-btn mt-4 d-block d-lg-inline-block">LEARN MORE</a>
                </div>
                <div class="col-xl-7 col-lg-6 order-1 order-lg-2">
                    <figure>
                    {% if entry.aboutUsImage | length %}
                        <img src="{{ entry.aboutUsImage.one().url }}" alt="{{ entry.aboutUsImage.one().title }}">
                    {% endif %}
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!-- End About-us -->

    <section class="project">
        <div class="container">
            <h6 class="text-color">{{ entry.projectTitle|raw }}</h6>
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="mb-5">{{ entry.projectHeading|raw }}</h2>
                <a href="{{ craft.app.sites.primarySite.baseUrl }}projects" class="btn blue-btn d-none d-md-inline-block">View All Projects</a>
            </div>
            <div class="row d-none d-md-flex">
                {% set ourProjects = craft.entries.section('project').orderBy('postDate desc').limit(6).all() %}
                {% if ourProjects|length %}
                    {% for project in ourProjects %}
                        <div class="col-lg-4 col-md-6">
                            <div class="project-item">
                                <figure>
                                    <a href="{{ project.url }}">  <img src="{{ project.projectFeaturedImage.one().url }}" alt="{{ project.projectFeaturedImage.one().title }}"></a>
                                </figure>
                                <a href="{{ project.url }}"><h3>{{ project.title }}</h3></a>
        
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                
            </div>
            <div class="feature-project-list d-block d-md-none">
                
                <div class="owl-carousel project-carousel owl-theme">
                    {% set ourProjects = craft.entries.section('project').orderBy('postDate desc').limit(6).all() %}
                    {% if ourProjects|length %}
                        {% for project in ourProjects %}
                            <div class="item">
                                <div class="project-item">
                                    <figure>
                                        <a href="{{ project.url }}">  <img src="{{ project.projectFeaturedImage.one().url }}" alt="{{ project.projectFeaturedImage.one().title }}"></a>
                                    </figure>
                                    <a href="{{ project.url }}"><h3>{{ project.title }}</h3></a>
                                </div>
                            </div>
                        {% endfor %}
                {% endif %}
                    
                </div>
                
            </div>
            <div class="view-all d-block d-md-none">
                <a href="{{ craft.app.sites.primarySite.baseUrl }}projects" class="btn blue-btn d-block mt-0">View All Projects</a>
            </div>
        </div>
    </section>
    <!-- End Project -->
    {% include "testimonials/testimonial" %}
    
    
{% endblock %}