{% extends "layout/_layout" %} 

{% block content %} 

    <div class="banner inner-banner mobile-service-banner">
        {% if entry.fullWidthBanner | length %}
            <img src="{{ entry.fullWidthBanner.one().url }}" alt="{{ entry.fullWidthBanner.one().title }}">
        {% endif %}
        <div class="container">
            <div class="banner-caption row mw-100">
                <div class="col-md-7">
                <h1>{{ entry.title|raw }}</h1>
                <p>{{ entry.bannerDescription|raw }} </p>
                    <a href="{{ craft.app.sites.primarySite.baseUrl }}contactus" class="btn wt-btn">CONTACT US</a>
            </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    <section class="content-block">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6 col-xl-5  mb-0 order-2 order-lg-1">
                    <h2>{{ entry.ourServicesTitle|raw }}</h2>
                    {{ entry.ourServicesDescription|raw }}
                </div>
                <div class="col-lg-6 col-xl-6 mb-3 mb-md-0 order-1 order-lg-2">
                    {% if entry.serviceImage | length %}
                        <figure>
                            <img class="w-100" src="{{ entry.serviceImage.one().url }}" alt="{{ entry.serviceImage.one().title }}">
                        </figure>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- End Our-services -->

{% endblock %}