@media (min-width:1700px) {
    .container {
        max-width: 1600px;
    }
}

@media (max-width:1700px) {
    .navbar-nav>li {
        margin: 0 6px;
    }
    .services-item p {
        margin-bottom: 60px;
    }
    section {
        padding: 60px 0 !important;
    }
    footer.footer {
        padding: 50px 0 30px;
    }
    .navbar-nav li a {
        font-size: 14px;
        padding: 34px 0;
        margin: 0 13px;
    }
    
    .banner-caption h1 {
        font-size: 33px;
        margin-bottom: 10px;
        line-height: normal;
    }
    .banner-caption h2{
        font-size: 33px;
        margin-bottom: 10px;
        line-height: normal;
    }
    .news-caption{
        padding: 0 0 0 60px;
    }
    .btn {
        min-width: 150px;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    h3 {
        font-size: 18px;
    }
    .client-item h3 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 55px;
    }
    .client-item h5 {
        font-size: 16px;
    }
    .client-item h6 {
        font-size: 13px;
    }
    .content-block h2 {
        font-size: 37px;
        line-height: normal;
    }
    h2 {
        font-size: 37px;
        margin-bottom: 20px;
    }
    .footer .footer-ab h3 {
        font-size: 22px;
        line-height: normal;
    }
    
    
    .get-item h4 {
        font-size: 17px;
        margin-bottom: 20px;
    }
    .get-in h3 {
        font-size: 23px;
        margin-bottom: 25px;
    }
    .contact-form .form-control {
        height: 45px;
    }
    .services-item h3 {
        font-size: 16px;
        line-height: normal;
    }
    .services-item { 
        padding: 20px;
    }
    .project-sidebar ul li h4 {
        font-size: 20px;
        line-height: normal;
    }
    .news-details-banner .container {
        align-items: center;
    }
    .description-img img {
        height: auto;
    }
    
    .our-mission h2{
        line-height:normal;
    }
    
    .our-services h2{
        line-height: normal;
    }
    
    .our-services h6{
        line-height: normal;
    }
    .project h2{
        line-height:normal;
    }
    .project-item a h3{
        line-height:normal;
    }
    .get-started h2 {
        line-height: normal;
    }
    .about-us h2 {
        font-size: 37px;
        line-height: normal;
    }
    .news-item h3 {
        line-height: normal;
    }
    .similar-news h2{
        line-height: normal;
    }
    .news-details-banner .container h5 {
        line-height: normal;
    }
    .our-services-expertise h2{
        line-height:normal;
    }
    
    .navbar-nav li.dropdownMenu span {
        right: -4px;
        top: 32px;
    }
    .footer-info li {
        white-space: nowrap;
        line-height: normal;
    }
}
@media (max-width:1200px) {
    a.call {
        padding: 20px 10px;
    }
    
    .banner img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    .navbar-brand img {
        max-width: 144px;
    }
    .banner-caption h1 {
        font-size: 36px;
    }
    .news-caption{
        padding: 0;
        margin: 0 0 0 -40px;
    }
    h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .services-item h3 {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .client-item h3 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 25px;
    }
    .footer .footer-ab h3 {
        font-size: 17px;
    }   
    .footer .footer-ab span {
        width: 53px;
    }
    

 }
 
 @media (max-width:991px) {
     .navbar-menu div {
      width: 30px;
      height: 3px;
      background-color: #fff;
      margin: 6px 0;
    }
    
    .navbar-menu .bar1, .navbar-menu .bar2, .navbar-menu .bar3 {
      width: 30px;
      height: 3px;
      background-color: #fff;
      margin: 6px 0;
      transition: 0.4s;
    }
    
    .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-5px, 6px);
      transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-6px, -8px);
      transform: rotate(45deg) translate(-6px, -8px);
    }
    .site-header a.call{
        min-width: 0;
        height: auto;
        padding: 10px;
        font-size: 25px;
    }
    .banner img {
        height: 350px;
        object-fit: cover;
    }
    .banner-caption h1 {
        font-size: 30px;
    }
    .banner-caption h2 {
        font-size: 30px;
    }
    .news-caption{
        padding: 0;
        margin: 0;
    }
    
    .site-header div.custom-logo {
        justify-content: flex-end !important;
        flex-direction: row-reverse;
    }
    .navbar-nav li.dropdownMenu>a:after {
        right: 0;
    }
    .navbar-menu {
        border: none;
        background: none;
        padding: 3px 10px;
        margin: 0 10px 0 0;
        outline: none;
    }
    .navbar {
        display:none;
    }
    
    button.navbar-menu:focus{
        outline: none;
    }
    .navbar-nav li a {
        font-size: 26px;
        padding: 20px 0;
        text-transform: lowercase;
        display: inline-block;
        font-family: 'Neue Haas Grotesk Display Pro 55 Roman';
        margin: 0;
    }
    .navbar-nav li.dropdownMenu span:before {
        position: static;
    }
    .navbar-nav>li {
        margin: 0;
    }
    .navbar-nav li ul.sub-menu {
        background: #000;
        border: none;
        border-top: solid 1px #ccc;
        padding: 20px 0px;
        width: 100%;
    }
    .navbar-nav li ul.sub-menu li a {
        font-size: 20px;
        line-height: 40px;
        color: #fff;
    }
    .mobile-menu {
        position: fixed;
        overflow: auto;
        top: 0;
        /* left: 58px; */
        background: transparent;
        text-align: left;
        display: block;
        transform: translate3d(0, 0, 0);
        transition: background 500ms ease;
        z-index: 999999999;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
        height: 100%;
        width: 100%;
        box-shadow: none !important;
        visibility: hidden;
        opacity: 0;
        transition: all 500ms ease;
        padding: 0 120px;
        box-sizing: border-box;
        margin: 72px 0 0 0;
    }
    .open-menu .mobile-menu {
        opacity: 1;
        background: #000;
        z-index: 100;
        visibility: visible;
    }
    .open-menu .mobile-menu .mobile_head {
        color: #fff;
        cursor: pointer;
        font-size: 26px;
        letter-spacing: -0.48px;
        text-transform: lowercase;
        margin: 0;
        padding: 0;
        line-height: 60px;
        text-align: left;
    }
    .open-menu .mobile-menu .mobile_head a {
        color: #fff;
        transition: 0.3s ease;
        text-transform: capitalize;
    }
    .open-menu .mobile-menu .mobile_head span {
        color: #fff;
        margin-left: 20px;
    }
    .open-menu .mobile-menu .mobile_body {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background: #000;
    }
    .open-menu .mobile-menu .mobile_body .select {
        width: calc(100% - 240px);
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #fff;
        padding: 20px 0 20px;
    }
    .open-menu .mobile-menu .mobile_body .select span{
        color:#fff;
    }
    
    .open-menu .mobile-menu .mobile_body .select a{
        font-size: 26px;
        line-height: 26px;
        margin: 0;
        color: #fff;
    }
    
    .open-menu .mobile-menu .mobile_body .sub-menu {
        list-style: none;
        margin: 0;
        padding: 20px 120px;
    }
    
    .open-menu .mobile-menu .mobile_body .sub-menu li {
        text-align: left;
        font-size: 26px;
        letter-spacing: -0.48px;
        text-transform: lowercase;
        line-height: 60px;
        padding-bottom: 0;
    }
    .open-menu .mobile-menu .mobile_body .sub-menu li a {
        border: none;
        color: #fff;
        display: block;
        line-height: 50px;
        -webkit-tap-highlight-color: rgba(55, 55, 55, 0.2);
        transition: 0.3s ease;
        text-transform: capitalize;
    }
    .gallery-row {
        grid-template-columns: 49% 49%;
        display: grid;
        grid-gap: 12px;
    }
    
    .gallery-row .img_item:nth-child(1) {
        grid-column: 1/3;
    }
    .gallery-row .img_item:nth-child(4) {
        grid-column: 1/3;
    }
    .gallery-row .img_item:nth-child(7) {
        grid-column: 1/3;
    }
    .img_item img {
        height: 300px;
    }
    
    .footer .footer-ab h3 {
        font-size: 14px;
    }
    .footer-links li a {
        font-size: 14px;
        white-space: nowrap;
    }
    .footer-info li {
        font-size: 14px;
        line-height: normal;
    }
    
 }
 
 @media (max-width:992px) and (min-width:768px) {
     .news-wrapper .container {
         max-width: 720px;
    }
 }

@media (max-width:767px) {
    .banner .container {
    padding-top: 0;
}
    header.site-header {
    background: #000;
    position: sticky;
}
    .navbar-nav li a {
        font-size: 14px;
        padding: 7px 11px;
    }
    
    .banner-caption h1 {
        font-size: 25px;
        line-height: 27px;
    }
    .banner img {
        height: 480px;
    }
    .mobile-banner img{
        height: 260px;
    }
    .mobile-service-banner img{
        height: 300px;
    }
    .mobile-service-banner .banner-caption h2{
        line-height: 30px;
    }
    .mobile-inne-banner img{
        height: 340px;
    }
    .banner-caption p {
        font-size: 14px !important;
        line-height: 19px !important;
    }
    .inner-banner .banner-caption p {
        font-size: 14px;
        line-height: 19px;
    }
    .banner-caption h2 {
        line-height: 27px;
    }
    .our-services h2 {
        line-height: 70px;
        font-size: 30px;
    }
    .our-mission h2 {
        line-height: 27px;
        font-size: 20px;
    }
    .services-item h3 {
        font-size: 18px;
        line-height: 24px;
    }
    .project-block h3 {
        font-size: 20px;
        line-height: 27px;
    }
    .project-sidebar ul li {
        padding: 18px 0;
    }
    .project-sidebar ul li h6 {
        line-height: 19px !important;
        font-size: 14px;
        color: #000 !important;
    }
    .project-sidebar ul li h4 {
        font-size: 20px;
        line-height: 40px;
    }
    
    .about-us img {
        margin: 0 0 38px;
    }
    .about-us h2 {
        font-size: 30px;
        line-height: 70px;
    }
    .get-item a {
        color: #000;
    }
    
    .news-details-banner .container {
        align-items: flex-end;
    }
    .news-details-banner .container .banner-caption h2 {
        line-height: 30px;
    }
    .news-details-banner .container h5 {
        line-height: 30px;
        font-size: 16px;
    }
    
    .news-wrapper h3 {
        font-size: 20px;
        line-height: 27px;
        font-weight: 600;
    }
    .news-wrapper p {
        font-size: 14px;
        line-height: 18px;
    }  
    .similar-news h2 {
        line-height: 70px;
        font-size: 30px;
    }
    .description-img img {
        height: 150px;
    }
    .about-us p {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 30px;
    }
    .about-us-wrapper h2 {
        font-size: 30px;
    }
    .text-color{
        color:#bebebe !important;
    }
    .news-item h3 {
        line-height: 30px;
    }
    .get-in h3 {
        font-size: 24px;
    }
    .get-in h6 {
        line-height: 19px !important;
        font-size: 14px;
        color: #b2b2b2 !important;
    }
    .get-item h4 {
        font-size: 22px;
    }
    .contact-form .form-control {
        height: 57px;
    }
    .contact-form input[type="submit"]{
        width:100%;
    }
    
    h3 {
        font-size: 18px;
    }
    h6{
        line-height: 16px !important;
        font-size: 12px;
        margin-bottom: 0;
    }
    .about-us-wrapper img {
        margin: 0 0 38px;
    }
    .about-us-wrapper p {
        font-size: 14px;
        line-height: 19px;
    }
    .team-item h6 {
        line-height: 19px !important;
        font-size: 14px;
    }
    .about-teams {
        padding: 0 !important;
    }
    .project-item a h3 {
        line-height: 30px;
    }
    .client-item h3 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 0;
    }
    .client-item h5 {
        font-size: 20px;
        line-height: 20px;
    }
    .project h2 {
        line-height: 40px;
        font-size: 30px;
    }
    .project h6 {
        margin-bottom: 0;
    }
    .client-item h6 {
        font-size: 14px;
        line-height: 19px !important;
    }
    .about-teams img {
        height: 300px;
        object-fit: cover;
    }
    .about-teams h2 {
        font-size: 20px;
        line-height: 40px;
    }
    .about-teams .container {
        padding-bottom: 30px;
    }
    .get-started h2 {
        line-height: 40px;
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    .footer .footer-ab h3 {
        font-size: 18px;
        line-height: 24px;
    }
    .footer-bottom p {
        font-size: 12px;
    }
    .footer-info li {
        line-height: 46px;
        font-size: 18px;
    }
    .footer-links {
        margin: 15px 0;
    }
    .footer-links li a {
        font-size: 18px;
        line-height: 30px;
    }
    .mobile-menu {
        padding: 0 20px;
    }
    .open-menu .mobile-menu .mobile_body .select {
        width: calc(100% - 50px);
    }
    .open-menu .mobile-menu .mobile_body .sub-menu {
        padding: 20px 20px;
    }
    .get-started {
        text-align: center;
    }
    .container{
        max-width: 100%;
    }
    .news-details-banner .container {
        max-width: 100%;
    }
    .project-item img {
        width: 100%;
    }
    
    .content-block p{
        line-height: 19px;
        font-size: 14px;
    }
    .our-services-expertise h2 {
        font-size: 22px;
        line-height: 30px !important;
    }
    .content-block h2{
        font-size: 23px;
        line-height: 30px !important;
    }
    
    .footer .footer-ab span {
        width: 130px;
    }
}


@media (max-width:575px) {
    .footer-bottom p {
        font-size: 12px;
    }
    br {
        display: none;
    }
    
    .project-block p {
        font-size: 14px;
        line-height: 18px;
    } 
}

@media (max-width:420px) {
    .footer-bottom p {
        font-size: 11px;
    }
}

@media (max-width:359px) {
    .project h2 {
        line-height: 40px;
        font-size: 26px;
    }
}






