@import url('../fonts/style.css');
body {
    font-family: 'Neue Haas Grotesk Display Pro 55 Roman';
    font-size: 16px;
    color: #000;
    letter-spacing: 1px;
}

a {
    color: #82A3BC;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: "neue-haas-grotesk-display";
    color: #000;
    font-weight: 700;
}

h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

h3 {
    font-size: 22px;
}

h6 {
    font-size: 14px;
    margin-bottom: 25px;
    font-family: 'Neue Haas Grotesk Display Pro 65 Medium';
    color: #8a8a8a !important;
    font-family:"neue-haas-grotesk-text";
    font-weight: 700;
}

p {
    line-height: 24px;
    margin-bottom: 20px;
    color:#707070;
    font-weight: 500;
}

section {
    padding: 140px 0;
}

.btn {
    background: none;
    font-family: 'Neue Haas Grotesk Display Pro 55 Roman';
    border: solid 2px #000;
    border-radius: 1px;
    text-align: center;
    color: #000;
    display: inline-block;
    padding: 20px 35px;
    transition: 0.5s;
    min-width: 172px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.btn:hover {
    background-color: #000;
    color: #fff;
}

.btn.wt-btn {
    color: #fff;
    border-color: #fff;
}

.btn.wt-btn:hover {
    background-color: #fff;
    color: #000;
}

.btn.blue-btn {
    color: #82A3BC;
    border-color: #82A3BC;
}

.btn.blue-btn:hover {
    background-color: #82A3BC;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

/*
start css
===========================================
*/

/*
start Header css
===========================================
*/

header.site-header {
    position: fixed;
    top: 0;
    z-index: 11;
    left: 0;
    right: 0;
        transition: 0.5s;
    padding: 0;
}

.site-header.sticky {
    background: #000;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    padding: 0;
    margin: 10px 0;
}

.navbar-brand img {
    max-width: 250px;
}

.navbar-nav>li {
    margin: 0 20px;
}

.navbar-nav li a {
    color: #fff;
    font-size: 15px;
    padding: 50px 0px;
    display: block;
    margin: 0;
    letter-spacing: 2px;
    font-family: 'Neue Haas Grotesk Display Pro 65 Medium';
    line-height: 20px;
    font-weight: 600;
}

.navbar-nav li.active > a {
    border-bottom: solid 2px #82A3BC;
}

.navbar-nav li a:hover {
    color: #82A3BC;
}

.navbar {
    padding: 0;
    margin: 0 -30px;
}

.navbar-nav li.dropdownMenu>a {
    position: relative;
}

.navbar-nav li.dropdownMenu div.menu-list{
    position:relative;
}

.navbar-nav li.dropdownMenu span{
    position: absolute;
    right: -14px;
    color: #fff;
    top: 48px;
    cursor: pointer;
}

.navbar-nav li.dropdownMenu span:before {
    content: "+";
}

.navbar-nav li:hover span:before{
    content: "-";
    color: #82A3BC;
}

.navbar-nav li:last-child a {
    padding-right: 0;
}

.mobile-menu {
    display:none;
}

/*start Sub Menu  css
===========================================
*/

.navbar-nav li ul.sub-menu {
    border: solid 1px #ccc;
    position: absolute;
    z-index: 999;
    background: #fff;
    padding: 20px 35px;
    transition: 0.5s;
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
}

.navbar-nav li ul.sub-menu li a {
    color: #404040;
    padding: 6px 0;
    text-align: left;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}

.navbar-nav li ul.sub-menu li a:hover{
    color: #000;
}

.navbar-nav li:hover ul.sub-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/*start Banner css
===========================================
*/

.banner {
    position: relative;
}

.banner img {
    width: 100%;
}

.banner:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    background: #000;
    opacity: .5;
    height: 100%;
}

.banner .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
     padding-top: 88px;
}

.banner-caption {
    max-width: 1160px;
}

.banner-caption h1 {
    color: #fff;
    font-size: 56px;
    margin-bottom: 25px;
    line-height: 74px;
}

.banner-caption h2{
    color: #fff;
    font-size: 50px;
    margin-bottom: 25px;
    line-height: 70px;
}

.banner-caption p {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
}

.banner-caption p.text{
    font-size: 16px;
    line-height: 26px;
}

.news-caption{
    padding: 0 0 0 290px;
}

.bg-black {
    background-color: #000;
}

.bg-black h2, .bg-black h6, .bg-black p {
    color: #fff;
}

.services-item {
    background: #EEEEEE;
    padding: 32px;
    padding-bottom: 40px;
    position: relative;
    height: 100%;
}

.services-item h3 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px;
}

.services-item p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
}

.services-item .btn-text {
    color: #82A3BC;
    border-bottom: solid 1px #82A3BC;
    display: inline-block;
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    position: absolute;
    bottom: 27px;
}

.our-services [class*="col-"] {
    margin-bottom: 30px;
}

.project-item {
    margin-bottom: 40px;
}
.project-item a h3{
    line-height:30px;
    font-weight: 600;
}

.bg-grey {
    background: #D1D1D1;
}

.client-item h3 {
    font-size: 40px;
    line-height: 70px;
    margin-bottom: 55px;
}

.client-item h3 p{
    line-height: inherit;
}

.client-item h5 {
    font-size: 26px;
    color: #82A3BC;
    line-height: 70px;
    font-weight: 600;
}

.client-item h6 {
    color: #BBBBBB;
    text-transform: none;
}

.bg-grey-lt {
    background: #EEEEEE;
}

/*
Our mission css start Here 
===============================
*/

.our-mission{
    padding:157px 0;
}

.our-mission h6{
    line-height: 19px;
}

.our-mission h2{
    line-height:70px;
    font-weight: 600;
}

.our-services{
    padding: 122px 0;
}

.our-services h2{
    line-height: 70px;
}

.our-services h6{
    line-height: 19px;
    text-transform: uppercase;
}
.our-client{
    padding: 86px 0;
}
.get-started{
    padding: 128px 0;
}
.get-started h2{
    line-height: 70px;
}

.content-block{}
.content-block h2{
    font-size: 40px;
    line-height: 53px;
}

.our-services-expertise{
    padding: 128px 0;
}

.our-services-expertise h2{
    font-size:30px;
    line-height:40px;
}

.about-us{
    padding: 136px 0;
}

.about-us h2{
    font-size:50px;
    line-height: 70px;
}

.about-us h6{
    line-height: 19px;
}

.news-wrapper h3{
    font-size: 30px;
    line-height: 42px;
}
.news-wrapper p{
    font-size: 18px;
    line-height: 32px;
}
.description-img img{
    width: 100%;
    height: 510px;
    object-fit: cover;
}
.project h6{
    line-height:19px;
}

.project h2{
    line-height:70px;
}

.about-us-wrapper{
    padding: 136px 0;
}

.about-us-wrapper h2{
    font-size:40px;
    line-height: 70px;
}

.about-us-wrapper h6{
    line-height: 19px;
}

/*
Footer css start Here 
===============================
*/

.footer {
    background-color: #000;
    padding: 67px 0;
}

.footer .footer-ab span {
    width: 80px;
}

.footer .footer-ab h3 {
    font-size: 32px;
    color: #fff;
    line-height: 46px;
    font-weight: 500;
}

.footer-links li a {
    color: #fff;
    font-size: 18px;
    margin-bottom: 6px;
    display: block;
    font-weight: 600;
}

.footer-info li {
    color: #82A3BC;
    font-size: 18px;
    margin-bottom: 6px;
    display: block;
    line-height: 46px;
    font-weight: 600;
}

.footer-info li a {
    color: #82A3BC;
}

.footer hr {
    border-color: #fff;
    border-width: 2px;
    margin: 40px 0
}

.footer .social-links li {
    display: inline;
    margin: 0 10px 0 0;
}

.footer .social-links li a {
    background-color: #82A3BC;
    width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    text-align: center;
}

.footer-bottom {
    border-top: solid 1px #3E3E3E;
    padding: 30px 0 0;
    margin: 55px 0 0;
    color: #9F9F9F;
    font-size: 14px;
}
.footer-bottom p{
    line-height: 46px;
}

/*start services  css
===========================================
*/

.inner-banner img {
    height: 350px;
    object-fit: cover;
}

.news-details-banner img{
    height: 600px;
    object-fit: cover;
}

.inner-banner .banner-caption p {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
}
.about-teams img {
    width: 100%;
}
.about-teams {
    position: relative;
    padding: 0;
}

.about-teams .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding-bottom: 100px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.about-teams h2 {
    color: #fff;
    font-size:40px;
    line-height: 70px;
}

.news-item {
    margin-bottom: 30px;
}

.news-item h3{
    line-height: 30px;
    font-weight: 600;
}

.contact-form label {
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    font-weight: 700;
}

.contact-form .form-control {
    height: 57px;
    border: none;
    border-radius: 0;
    background-color: #EEEEEE;
}

.get-in h3 {
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 30px;
    font-weight: 600;
}

.get-in h6 {
    margin-bottom: 10px;
    line-height: 19px;
    font-family:'Neue Haas Grotesk Display Pro 55 Roman';
    text-transform: uppercase;
}

.get-item h4 {
    font-size: 22px;
    margin-bottom: 30px;
    line-height: 32px;
    font-weight: 500;
}

.contact-form textarea.form-control {
    height: 120px;
}

.bg-grey .services-item {
    background: #fff;
}

.project-block h3 {
    font-size: 30px;
    line-height:42px;
    font-weight: 600;
}

.project-block p{
    font-size:18px;
    line-height:32px;
}

.project-sidebar ul li {
    border-top: solid 1px #DADADA;
    padding: 24px 0;
}

.project-sidebar ul li:last-child {
    border-bottom: solid 1px #DADADA;
}

.project-sidebar ul li h6 {
    color: #000;
    margin: 0 0 5px;
    line-height: 19px;
}

.project-sidebar ul li h4 {
    color: #82A3BC;
    font-size: 26px;
    margin: 0;
    line-height: 40px;
    font-weight: 600;
}

.team-item h3{
    line-height: 30px;
    font-weight: 600;
}

.team-item h6{
    line-height: 19px;
}

.similar-news{
    background: #f2f6f8;
    padding: 129px 0;
}

.similar-news h2{
    line-height: 70px;
}

@media (min-width:992px) {
    .gallery-row {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-gap: 20px;
    }
    .gallery-row .img_item:nth-child(4) {
        grid-column: 2/4;
    }
    .gallery-row .img_item:nth-child(1) {
        grid-column: 1/3;
    }
}

.img_item img {
    width: 100%;
    height: 510px;
    object-fit: cover;
}

.news-details-banner .container {
    align-items: flex-end;
    padding-bottom: 20px;
}

.news-details-banner .container h5 {
    color: #fff;
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
}

.news-wrapper .container {
    max-width: 1024px;
}
.errors{
    color: red;
}

.service-v video {  object-fit: cover;}
.banner video {
    display: block;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}