@import url('../fonts/style.css');
body {
    font-family: 'Neue Haas Grotesk Display Pro 55 Roman';
    font-size: 16px;
    color: #000;
    letter-spacing: 1px;
}

a {
    color: #82A3BC;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Neue Haas Grotesk Display Pro 55 Roman';
}

h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

h3 {
    font-size: 22px;
}

h6 {
    font-size: 14px;
    margin-bottom: 25px;
    font-family: 'Neue Haas Grotesk Display Pro 65 Medium';
    color: #BBBBBB;
}

p {
    line-height: 24px;
    margin-bottom: 20px;
}

section {
    padding: 140px 0;
}

.btn {
    background: none;
    font-family: 'Neue Haas Grotesk Display Pro 55 Roman';
    border: solid 1px #000;
    border-radius: 1px;
    text-align: center;
    color: #000;
    display: inline-block;
    padding: 0px 10px;
    transition: 0.5s;
    min-width: 160px;
    height: 60px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 60px;
    letter-spacing: 2px;
}

.btn:hover {
    background-color: #000;
    color: #fff;
}

.btn.wt-btn {
    color: #fff;
    border-color: #fff;
}

.btn.wt-btn:hover {
    background-color: #fff;
    color: #000;
}

.btn.blue-btn {
    color: #82A3BC;
    border-color: #82A3BC;
}

.btn.blue-btn:hover {
    background-color: #82A3BC;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

/*
start css
===========================================
*/

/*
start Header css
===========================================
*/

.site-header {
    background: #000;
    padding: 0;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    padding: 0;
    margin: 10px 0;
}

.navbar-brand img {
    max-width: 250px;
}

.navbar-nav li a {
    color: #fff;
    font-size: 15px;
    padding: 50px 0px;
    display: block;
    margin: 0 30px;
    letter-spacing: 2px;
    font-family: 'Neue Haas Grotesk Display Pro 65 Medium';
}

.navbar-nav li.active a {
    border-bottom: solid 2px #82A3BC;
}

.navbar-nav li a:hover {
    color: #82A3BC;
}

.navbar-nav li:last-child a {
    padding-right: 0;
}

/*start Banner css
===========================================
*/

.banner {
    position: relative;
}

.banner img {
    width: 100%;
}

.banner:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    background: #000;
    opacity: .5;
    height: 100%;
}

.banner .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.banner-caption {
    max-width: 1160px;
}

.banner-caption h1 {
    color: #fff;
    font-size: 56px;
    margin-bottom: 25px;
}

.banner-caption p {
    color: #fff;
    font-size: 18px;
}

.bg-black {
    background-color: #000;
}

.bg-black h2, .bg-black h6, .bg-black p {
    color: #fff;
}

.services-item {
    background: #EEEEEE;
    padding: 32px;
    padding-bottom: 40px;
    position: relative;
    height: 100%;
}

.services-item .btn-text {
    position: absolute;
    bottom: 27px;
}

.services-item h3 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px;
}

.services-item p {
    margin-bottom: 60px;
    font-size: 14px;
    line-height: 20px;
}

.services-item .btn-text {
    color: #82A3BC;
    border-bottom: solid 1px #82A3BC;
    display: inline-block;
    font-size: 14px;
}

.our-services [class*="col-"] {
    margin-bottom: 30px;
}

.project-item {
    margin-bottom: 20px;
}

.bg-grey {
    background: #D1D1D1;
}

.client-item h3 {
    font-size: 40px;
    line-height: 70px;
    margin-bottom: 55px;
}

.client-item h5 {
    font-size: 26px;
    color: #82A3BC;
}

.client-item h6 {
    color: #BBBBBB;
    text-transform: none;
}

.bg-grey-lt {
    background: #EEEEEE;
}

/*
Footer css start Here 
===============================
*/

.footer {
    background-color: #000;
    padding: 85px 0 63px;
}

.footer .footer-ab span {
    width: 80px;
}

.footer .footer-ab h3 {
    font-size: 32px;
    color: #fff;
}

.footer-links li a {
    color: #fff;
    font-size: 18px;
    margin-bottom: 6px;
    display: block;
}

.footer-info li {
    color: #82A3BC;
    font-size: 18px;
    margin-bottom: 6px;
    display: block;
}

.footer-info li a {
    color: #82A3BC;
}

.footer hr {
    border-color: #fff;
    border-width: 2px;
    margin: 40px 0
}

.footer .social-links li {
    display: inline;
    margin: 0 10px 0 0;
}

.footer .social-links li a {
    background-color: #82A3BC;
    width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    text-align: center;
}

.footer-bottom {
    border-top: solid 1px #3E3E3E;
    padding: 30px 0 0;
    margin: 40px 0 0;
    color: #9F9F9F;
    font-size: 14px;
}

/*start services  css
===========================================
*/

.inner-banner img {
    min-height: 350px;
    object-fit: cover;
}

.inner-banner .banner-caption p {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
}

.about-teams {
    position: relative;
    padding: 0;
}

.about-teams .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding-bottom: 100px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.about-teams h2 {
    color: #fff;
}

.news-item {
    margin-bottom: 20px;
}

.contact-form label {
    font-size: 14px;
}

.contact-form .form-control {
    height: 57px;
    border: none;
    border-radius: 0;
    background-color: #EEEEEE;
}

.get-in h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

.get-in h6 {
    margin-bottom: 10px;
}

.get-item h4 {
    font-size: 22px;
    margin-bottom: 30px;
}

.contact-form textarea.form-control {
    height: 120px;
}

.bg-grey .services-item {
    background: #fff;
}

.project-block h3 {
    font-size: 30px;
}

.project-sidebar ul li {
    border-top: solid 1px #DADADA;
    padding: 24px 0;
}

.project-sidebar ul li:last-child {
    border-bottom: solid 1px #DADADA;
}

.project-sidebar ul li h6 {
    color: #000;
    margin: 0 0 5px;
}

.project-sidebar ul li h4 {
    color: #82A3BC;
    font-size: 26px;
    margin: 0;
}
.img_item {
    margin-bottom: 30px;
}
.img_item img {width: 100%; height: 310px; object-fit: cover;}

.news-details-banner .container { align-items: flex-end;padding-bottom: 20px;}
.news-details-banner .container h5 {
    color: #fff;
    font-size: 22px;
}
.news-wrapper .container {
    max-width: 1024px;
}
.errors{
    color: red;
}