{% extends "layout/_layout" %} 

{% block content %} 

{% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

<div class="banner inner-banner mobile-banner">
        {% if entry.fullWidthBanner | length %}
            <img src="{{ entry.fullWidthBanner.one().url }}" alt="{{ entry.fullWidthBanner.one().title }}">
        {% endif %}
        <div class="container">
            <div class="banner-caption row mw-100 w-100">
                <div class="col-md-6">
                    <h2>{{ entry.bannerHeading|raw }}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    <section class="get-in">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6 col-xl-6 mb-3 mb-md-0">

                    {% set contactaddress = craft.entries.section('contactAddress').orderBy('id') %}
                {% if contactaddress|length %}
                    {% for address in contactaddress.all() %}
                    <div class="row mb-2 mb-md-5">
                        <div class="col-md-12">
                            <h3>{{address.city}}</h3>
                        </div>
                        <div class="col-md-6">
                            <div class="get-item">
                                <h6>PHONE</h6>
                                <h4><a href="tel:{{address.phone}}">{{address.phone}}</a></h4>
                                <h6>Physical Address</h6>
                                <h4><a href="#">{{address.physicalAddress}}</a></h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="get-item">
                                <h6>EMAIL</h6>
                                <h4><a href="mailto:{{address.email}}">{{address.email}}</a></h4>
                                <h6>Postal ADDRESS</h6>
                                <h4>{{address.postalAddress}}</h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% endif %}                    
                </div>
                <div class="col-lg-6 col-xl-5">
                    <div class="contact-form">
                        <h3>Enquiry Form</h3>
                        {% from _self import errorList %}
                        <form method="post" action="" accept-charset="UTF-8">
                            {{ csrfInput() }}
                            <input type="hidden" name="action" value="contact-form/send">
                            {{ redirectInput('contact/thanks') }}
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>NAME</label>
                                    <input id="from-name" type="text" class="form-control" name="fromName" value="{{ message.fromName ?? '' }}">
                                    {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>EMAIL</label>
                                    <input id="from-email" class="form-control" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}">
                                    {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Phone</label>
                                    <input id="phone" class="form-control" type="text" name="message[Phone]" value="">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Subject</label>
                                    <input id="subject" class="form-control" type="text" name="subject" value="{{ message.subject ?? '' }}">
                                    {{ message is defined and message ? errorList(message.getErrors('subject')) }}
                                </div>
                                <div class="col-md-12 form-group">
                                    <label>Message</label>
                                        <textarea rows="10" cols="40" id="message" class="form-control" name="message">{{ message.message ?? '' }}</textarea>
                                        {{ message is defined and message ? errorList(message.getErrors('message')) }}
                                </div>
                                <div class="col-md-12 form-group">
                                   
                                    <input type="submit" value="SUBMIT" class="btn blue-btn">
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About-us -->

{% endblock %}