<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ docTitle ?? siteName }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ craft.app.sites.primarySite.baseUrl }}assets/favicon.ico" sizes="16x16">
    <link rel='stylesheet' type='text/css' media='screen' href='{{ craft.app.sites.primarySite.baseUrl }}assets/css/bootstrap.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='{{ craft.app.sites.primarySite.baseUrl }}assets/css/font-awesome.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='{{ craft.app.sites.primarySite.baseUrl }}assets/css/owl.carousel.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='{{ craft.app.sites.primarySite.baseUrl }}assets/css/owl.theme.default.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='{{ craft.app.sites.primarySite.baseUrl }}assets/css/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='{{ craft.app.sites.primarySite.baseUrl }}assets/css/responsive.css'>
    <link rel="stylesheet" href="https://use.typekit.net/aan1zsq.css">
    <script src='{{ craft.app.sites.primarySite.baseUrl }}assets/js/jquery.min.js'></script>
</head>

<body>
    <div class="mobile-menu">
        <div class="menu-list">
            <div class="mobile_head has-sub-menu" data-open="services">
                <a href="{{ craft.app.sites.primarySite.baseUrl }}services">Services</a>
                <span>+</span>
            </div>
            <div class="mobile_body" style="display:none;" data-menu="services">
                <div class="sub-nav">
                  <div class="select">
                    <a href="#">Services</a>
                    <span><i class="fa fa-angle-right"></i></span>
                  </div>
                    <ul class="sub-menu">
                        {% set ourServices = craft.entries.section('services').all() %}
                        {% if ourServices|length %}
                            {% for service in ourServices %}
                                <li><a href="{{ service.url }}">{{ service.title }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="mobile_head has-sub-menu">
                <a href="{{ craft.app.sites.primarySite.baseUrl }}projects">Projects</a>
            </div>
            <div class="mobile_head has-sub-menu" data-open="about">
                <a href="#">About Us</a>
                <span>+</span>
            </div>
            <div class="mobile_body" style="display:none;" data-menu="about">
                <div class="sub-nav">
                  <div class="select">
                    <a href="#">About Us</a>
                    <span><i class="fa fa-angle-right"></i></span>
                  </div>
                    <ul class="sub-menu">
                      <li><a href="{{ craft.app.sites.primarySite.baseUrl }}aboutus">About Us</a></li>
                      <li><a href="{{ craft.app.sites.primarySite.baseUrl }}ourTeam">Our Team</a></li>
                    </ul>
                </div>
            </div>
            <div class="mobile_head has-sub-menu">
                <a href="{{ craft.app.sites.primarySite.baseUrl }}news">News</a>
            </div>
            <div class="mobile_head has-sub-menu">
                <a href="{{ craft.app.sites.primarySite.baseUrl }}contactus">Contact Us</a>
            </div>
        </div>
    </div>
    <header class="site-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="custom-logo d-flex justify-content-between align-items-center col-xl-3 col-lg-2 col-6 order-1 order-lg-1">
                    <a href="{{ craft.app.sites.primarySite.baseUrl }}" class="navbar-brand ">
                        {% if header.aboutUsImage | length %}
                            <img src="{{ header.aboutUsImage.one().url }}" alt="{{ header.aboutUsImage.one().title }}">
                        {% endif %}
                    </a>
                    <button class="navbar-menu d-inline-block d-lg-none" type="button">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </button>
                </div>
                
                {% set uriSegment = craft.app.request.getSegment(1) %}
                <div class="col-lg-8 col-xl-6 col-12 order-3 order-lg-2">
                    <nav class="navbar navbar-links navbar-expand-lg">
                        <div class="navbar-collapse justify-content-center">
                            <ul class="navbar-nav text-left ">
                                {#<li {% if uriSegment == "services" %}class="active"{% endif %}> <a href="services">SERVICES</a></li>#}
                                <li class="dropdownMenu" {% if uriSegment == "services" %}class="active"{% endif %}> 
                                    <div class="menu-list"><a class="open-submenu" href="{{ craft.app.sites.primarySite.baseUrl }}services">SERVICES</a> <span></span></div>
                                    <div>
                                        <ul class="sub-menu">
                                        {% set ourServices = craft.entries.section('services').all() %}
                                        {% if ourServices|length %}
                                            {% for service in ourServices %}
                                                <li> <a href="{{ service.url }}">{{ service.title }}</a></li>
                                            {% endfor %}
                                        {% endif %}
                                        
                                    </ul>
                                    </div>
                                </li>
                                
                                <li {% if uriSegment == "projects" %}class="active"{% endif %}> <a href="{{ craft.app.sites.primarySite.baseUrl }}projects">PROJECTS</a></li>
                                {#<li {% if uriSegment == "aboutus" %}class="active"{% endif %}> <a href="aboutus">ABOUT US</a></li>#}
                                <li class="dropdownMenu" {% if uriSegment == "aboutus" %}class="active"{% endif %}>
                                    <div class="menu-list"><a class="open-submenu" href="#">ABOUT US</a> <span></span></div>
                                    <div>
                                        <ul class="sub-menu">
                                            <li> <a href="{{ craft.app.sites.primarySite.baseUrl }}aboutus">ABOUT US</a></li>
                                            <li> <a href="{{ craft.app.sites.primarySite.baseUrl }}ourTeam">Our Team</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li {% if uriSegment == "news" %}class="active"{% endif %}> <a href="{{ craft.app.sites.primarySite.baseUrl }}news">NEWS</a></li>
                                <li {% if uriSegment == "contactus" %}class="active"{% endif %}> <a href="{{ craft.app.sites.primarySite.baseUrl }}contactus">CONTACT US</a></li>
                                                            
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-2 col-xl-3 col-6 text-right order-1 order-lg-3">
                    <a href="tel:039290870" class="btn blue-btn call"><span class="fa fa-phone d-block d-lg-none"></span> <span class="ph-number d-none d-lg-block">03 929 0870</span></a>
                </div>
            </div>
        </div>
    </header>
    
    {% block content %}
    
      {% endblock %}
    
    <!-- End Our-client -->
 {% if craft.app.request.segments|first != 'contactus' %}
    <section class="get-started bg-grey-lt">
        <div class="container">
            <h2>Get started on your project today!</h2>
            <a href="{{ craft.app.sites.primarySite.baseUrl }}contactus" class="btn  mt-4">CONTACT US</a>

        </div>
    </section>
    {% endif %}
   
    <!-- End Get-started -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5">
                    <div class="footer-ab d-flex align-items-center mb-3 mb-md-0">
                        <span class="mr-4"><img src="{{ craft.app.sites.primarySite.baseUrl }}assets/images/logo-fav.png"></span>
                        <h3>We're a New Zealand owned and operated<br>
                            nationwide survey company.</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="row">
                        <ul class="col-6 footer-links">
                            <li>
                                <a href="{{ craft.app.sites.primarySite.baseUrl }}services">Services</a>
                            </li>
                            <li>
                                <a href="{{ craft.app.sites.primarySite.baseUrl }}projects">Projects</a>
                            </li>
                            <li>
                                <a href="{{ craft.app.sites.primarySite.baseUrl }}aboutus">About Us</a>
                            </li>
                        </ul>
                        <ul class="col-6 footer-links">
                            <li>
                                <a href="{{ craft.app.sites.primarySite.baseUrl }}news">News</a>
                            </li>
                            <li>
                                <a href="{{ craft.app.sites.primarySite.baseUrl }}contactus">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="row">
                        <ul class="col-6 footer-info">
                            <li>
                                Christchurch
                            </li>
                            <li>
                                Auckland
                            </li>
                        </ul>
                        <ul class="col-6 footer-info">
                            <li>
                                <a href="tel:039290870">03 929 0870</a>
                            </li>
                            <li>
                                <a href="tel:092815599">09 281 5599</a>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <ul class="social-links">
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-between footer-bottom">
                <p>All Rights Reserved by Quadrant © {{ now|date('Y') }}</p>
                <div class="footer-copy">
                    <p>Website by <a href="https://fabricdigital.co.nz/" target="_blank">Fabric</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <script src="{{ craft.app.sites.primarySite.baseUrl }}assets/js/bootstrap.js"></script>
    <script src="{{ craft.app.sites.primarySite.baseUrl }}assets/js/owl.carousel.js"></script>
    <script src="{{ craft.app.sites.primarySite.baseUrl }}assets/js/custom.js"></script>
</body>

</html>