{% extends "layout/_layout" %} 

{% block content %} 

{% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

<div class="banner inner-banner mobile-banner">
        {% if entry.fullWidthBanner | length %}
            <img src="{{ entry.fullWidthBanner.one().url }}" alt="{{ entry.fullWidthBanner.one().title }}">
        {% endif %}
        <div class="container">
            <div class="banner-caption row mw-100 w-100">
                <div class="col-md-6">
                    <h2>{{ entry.bannerHeading|raw }}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    
    <section class="our-teams">
        <div class="container">
            {% set teamMembers = craft.entries.section('teamMember').orderBy('id').all() %}
                {% if teamMembers|length %}
            <div class="row">
                 {% for team in teamMembers %}
                <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-4 mb-md-0">
                    <div class="team-item">
                        {% if team.memberPhoto | length %}
                        <figure>
                            <img class="w-100" src="{{ team.memberPhoto.one().url }}" alt="{{ team.memberPhoto.one().title }}">
                        </figure>
                       {% endif %}
                        <h3>{{ team.title|raw }}</h3>
                        <h6>{{ team.memberDeginationa|raw }}</h6>

                    </div>
                </div>
                {% endfor %}
            </div>
            
             {% endif %} 
                
        </div>
    </section>
    <!-- End About-us -->

{% endblock %}