{% extends "layout/_layout" %} 

{% block content %} 
    <div class="banner news-details-banner mobile-inne-banner">
        {% if entry.projectBanner | length %}
            <img src="{{ entry.projectBanner.one().url }}" alt="{{ entry.projectBanner.one().title }}">
        {% endif %}
        <div class="container">
            <div class="banner-caption row mw-100 w-100">
                <div class="col-md-6">
                    <h2>{{ entry.title }}</h2>

                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    <section class="project-block">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6 col-xl-6 d-block d-md-none mb-2 mb-md-0 order-1">
                    <h3 class="mb-4">{{ entry.projectSubTitle|raw }} </h3>
                </div>
                <div class="col-lg-6 col-xl-6  mb-0 order-3 order-lg-1">
                    <h3 class="mb-4 d-none d-md-block">{{ entry.projectSubTitle|raw }} </h3>
                    <p>{{ entry.ourServicesDescription|raw }} </p>

                </div>
                <div class="col-lg-6 col-xl-5 order-2 order-lg-2">
                    <div class="project-sidebar">
                        <ul>
                            <li>
                                <h6>CLIENT</h6>
                                <h4>{{ entry.clientName|raw }}</h4>
                            </li>
                            <li>
                                <h6>COMPLETED</h6>
                                <h4>{{ entry.completedYear | date("F Y") }}</h4>
                            </li>
                            <li>
                                <h6>LOCATION</h6>
                                <h4>{{ entry.projectLocation|raw }}</h4>
                            </li>
                            <li>
                                <h6>SERVICES</h6>
                                <h4>{{ entry.projectServices|raw }}</h4>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End project-block -->
    
    <section class="pt-0 project-gallery">
        <div class="container">
            <div class="gallery-row">
               {% set projectgalleries = entry.projectGallery %}
                {% if projectgalleries|length %}
                    {% for pgallery in projectgalleries.all() %}
                        <div class="img_item">
                            <img src="{{ pgallery.url }}" alt="{{ pgallery.title }}">
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
    
    {#<section class="pt-0 project-gallery">
        <div class="container">
            <div class="row">
                {% set projectgalleries = entry.projectGallery %}
                {% if projectgalleries|length %}
                    {% for pgallery in projectgalleries %}
                        {% if loop.index == 1 %}
                            <div class="col-md-8">
                                <div class="img_item">
                                    <img src="{{ pgallery.url }}" alt="{{ pgallery.title }}">
                                </div>
                            </div>
                        {% elseif loop.index == 2 %}
                            <div class="col-md-4">
                                <div class="img_item">
                                    <img src="{{ pgallery.url }}" alt="{{ pgallery.title }}">
                                </div>
                            </div>
                        {% elseif loop.index == 3 %}
                            <div class="col-md-4">
                                <div class="img_item">
                                    <img src="{{ pgallery.url }}" alt="{{ pgallery.title }}">
                                </div>
                            </div>
                        {% elseif loop.index == 4 %}
                            <div class="col-md-8">
                                <div class="img_item">
                                    <img src="{{ pgallery.url }}" alt="{{ pgallery.title }}">
                                </div>
                            </div>
                        {% elseif loop.index > 4 %}
                            <div class="col-md-4">
                                <div class="img_item">
                                    <img src="{{ pgallery.url }}" alt="{{ pgallery.title }}">
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>#}
    </section>
    <!-- End project-gallery -->
    
    {% include "testimonials/testimonial" %}
    
    <!-- End Our-client -->
    {% set isSimilar  = entry.similarProjects %}
    {% if isSimilar|length %}
        <section class="project bg-grey-lt ">
            <div class="container">
                <h2 class="mb-5">Similar Projects</h2>
                <div class="row d-none d-md-flex">
                    {% set Projects = entry.similarProjects %}
                    {% if Projects|length %}
                        {% for project in Projects.all() %}
                            <div class="col-md-4">
                                <div class="project-item">
                                    <figure>
                                      <a href="{{ project.url }}">  <img src="{{ project.projectFeaturedImage.one().url }}" alt="{{ project.projectFeaturedImage.one().title }}"></a>
                                    </figure>
                                    <a href="{{ project.url }}"><h3>{{ project.title }}</h3></a>
            
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                   
                </div>
                <div class="feature-project-list d-block d-md-none">
                <div class="owl-carousel inner-project-carousel owl-theme">
                     {% set Projects = entry.similarProjects %}
                    {% if Projects|length %}
                        {% for project in Projects.all() %}
                    <div class="item">
                        <div class="project-item">
                            <figure>
                                <a href="{{ project.url }}"> 
                              <img src="{{ project.projectFeaturedImage.one().url }}" alt="{{ project.projectFeaturedImage.one().title }}">
                               </a>
                            </figure>
                            <a href="{{ project.url }}"><h3>{{ project.title }}</h3></a>
                        </div>
                    </div>
                     {% endfor %}
                    {% endif %}
                   
                  
                </div>
            </div>
                
            </div>
        </section>
    {% endif %}
    <!-- End Project -->

{% endblock %}