{% extends "layout/_layout" %} 

{% block content %} 

<div class="banner inner-banner mobile-banner">
        {% if entry.fullWidthBanner | length %}
            <img src="{{ entry.fullWidthBanner.one().url }}" alt="{{ entry.fullWidthBanner.one().title }}">
        {% endif %}
        <div class="container">
            <div class="banner-caption row mw-100">
                <div class="col-md-6">
                    <h2>{{ entry.title|raw }}</h2>

                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->

    <section class="project">
        <div class="container">
            {#<h6>{{ entry.topabouttitle|raw }}</h6>
            <h2 class="mb-5">{{ entry.aboutUsTitle|raw }}</h2>#}
            <div class="row">
                {% set ourProjects = craft.entries.section('project').all() %}
                {% if ourProjects|length %}
                    {% for project in ourProjects %}
                        <div class="col-md-4">
                            <div class="project-item">
                                <figure>
                                   <a href="{{ project.url }}">  <img src="{{ project.projectFeaturedImage.one().url }}" alt="{{ project.projectFeaturedImage.one().title }}"></a>
                                </figure>
                                <a href="{{ project.url }}"><h3>{{ project.title }}</h3></a>
        
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                
            </div>
        </div>
    </section>
    <!-- End Project -->

{% endblock %}