{% extends "layout/_layout" %} 

{% block content %} 
    <div class="banner news-details-banner mobile-inne-banner">
        {% if entry.fullWidthBanner | length %}
            <img src="{{ entry.fullWidthBanner.one().url }}" alt="{{ entry.fullWidthBanner.one().title }}">
        {% endif %}
        <div class="container">
            <div class="banner-caption news-caption row mw-100 w-100">
                <div class="col-lg-6">
                    <h2>{{ entry.title|raw }}</h2>
                    <h5>{{ entry.postDate | date("d M, Y") }}</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
	
    <section class="news-wrapper">
        <div class="container">
            <h3>{{ entry.newsSubTitle|raw }}</h3>
            <p>{{ entry.bottomaboutdescription|raw }}</p>
            {% if entry.topaboutimage | length %}
                <figure>
                    <img src="{{ entry.topaboutimage.one().url }}" alt="{{ entry.topaboutimage.one().title }}">
                </figure>
            {% endif %}
            
            <p>{{ entry.topaboutdescription|raw }}</p>
            <div class="description-img">
                <div class="row">
                    {% set nImages = entry.newsImages %}
                    {% if nImages|length %}
                        {% for Img in nImages.all() %}
                            {% if nImages.count == 1 %}
                                <div class="col-md-12">
                            {% else %}
                                <div class="col-md-6 col-6">
                            {% endif %}
                                <figure>
                                    <img src="{{ Img.url }}" alt="{{ Img.title }}">
                                </figure>
                            </div>
                        {% endfor %}
                    {% endif %}
                    
                    
                </div>
            </div>
            <p>{{ entry.aboutUsDescription|raw }}</p>
        </div>
    </section>
    <!-- End  -->
    {% set isSimilarNes  = entry.similarNews %}
    {% if isSimilarNes|length %}
        <section class="similar-news ">
            <div class="container">
                <h2 class="mb-5">Similar Articles</h2>
                <div class="row d-none d-md-flex">
                    {% set similarNewss = entry.similarNews.all() %}
                    {% if similarNewss|length %}
                        {% for snews in similarNewss %}
                            <div class="col-md-6">
                                <div class="news-item">
                                    <figure>
                                       <a href="{{ snews.url }}">  <img src="{{ snews.newsThumbnailImage.one().url }}" alt="{{ snews.newsThumbnailImage.one().title }}"></a>
                                        {#<img src="{{ snews.fullWidthBanner.one().url }}" alt="{{ snews.fullWidthBanner.one().title }}">#}
                                    </figure>
                                    <a href="{{ snews.url }}"><h3>{{ snews.title }}</h3></a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
    
                </div>
                
                <div class="feature-project-list d-block d-md-none">
                
                <div class="owl-carousel articals-carousel owl-theme">
                    {% set similarNewss = entry.similarNews.all() %}
                    {% if similarNewss|length %}
                        {% for snews in similarNewss %}
                    <div class="item">
                        <div class="news-item">
                            <figure>
                                 <a href="{{ snews.url }}">  <img src="{{ snews.newsThumbnailImage.one().url }}" alt="{{ snews.newsThumbnailImage.one().title }}"></a>
                            </figure>
                             <a href="{{ snews.url }}"><h3>{{ snews.title }}</h3></a>
                        </div>
                    </div>
                       {% endfor %}
                    {% endif %}
                    
                   
                </div>
                
            </div>
            </div>
        </section>
    {% endif %}
    <!-- End news -->

{% endblock %}