{% extends "layout/_layout" %} 

{% block content %} 

<div class="banner inner-banner mobile-banner">
       {% if entry.fullWidthBanner | length %}
            <img src="{{ entry.fullWidthBanner.one().url }}" alt="{{ entry.fullWidthBanner.one().title }}">
        {% endif %}
          
        <div class="container">
            <div class="banner-caption row mw-100 w-100">
                <div class="col-md-6">
                    <h2>{{ entry.newsTitle }}</h2>

                </div>
            </div>
        </div>
    </div>
    
      <section class="news">
        <div class="container">
            <div class="row">
                {% set ourNews = craft.entries.section('news').all() %}
                {% if ourNews|length %}
                    {% for news in ourNews %}
                        <div class="col-md-6">
                            <div class="news-item">
                                <figure>
                                   <a href="{{ news.url }}">  <img src="{{ news.newsThumbnailImage.one().url }}" alt="{{ news.newsThumbnailImage.one().title }}"></a>
                                   {#<a href="{{ news.url }}">  <img src="{{ news.fullWidthBanner.one().url }}" alt="{{ news.fullWidthBanner.one().title }}"></a>#}
                                </figure>
                                <a href="{{ news.url }}"><h3>{{ news.title }}</h3></a>
        
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                
            </div>
        </div>
    </section>

{% endblock %}