{% extends "layout/_layout" %} 

{% block content %} 

{% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

<div class="banner mobile-banner">
        {% if entry.fullWidthBanner | length %}
            <img src="{{ entry.fullWidthBanner.one().url }}" alt="{{ entry.fullWidthBanner.one().title }}">
        {% endif %}
        <div class="container">
            <div class="banner-caption row mw-100 w-100">
                <div class="col-md-6">
                    <h2>{{ entry.bannerHeading|raw }}</h2>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    
    <section class="about-us-wrapper">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 col-xl-5  mb-2 mb-md-0 order-2 order-lg-1">
                    <h6>ABOUT US</h6>
                    <h2>{{ entry.topabouttitle|raw }}</h2>
                    {{ entry.topaboutdescription|raw }}
                </div>
                <div class="col-lg-6 col-xl-6 order-1 order-lg-2">
                     {% if entry.topaboutimage | length %}
                     <figure>
                        <img class="w-100" src="{{ entry.topaboutimage.one().url }}" alt="{{ entry.topaboutimage.one().title }}">
                    </figure>
                {% endif %}
                    

                </div>
            </div>
        </div>
    </section>
    <!-- End About-us -->
  
    <section class="about-teams">
        {% if entry.middlefullwidthbanner | length %}
        <img src="{{ entry.middlefullwidthbanner.one().url }}" alt="{{ entry.middlefullwidthbanner.one().title }}">
        {% endif %}
        <div class="container">
            <div>
                <h2>{{ entry.middlebannertitle|raw }}</h2>
                <a href="{{ entry.middlebannerlink|raw }}" class="btn blue-btn ">View our team</a>
            </div>
         

        </div>
    </section>
    <!-- End Get-started -->
    <section class="about-us-wrapper">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 col-xl-5">
                     {% if entry.bottomaboutimage | length %}
                    <figure>
                        <img class="w-100" src="{{ entry.bottomaboutimage.one().url }}" alt="{{ entry.bottomaboutimage.one().title }}">
                    </figure>
                    {% endif %}
                </div>
                <div class="col-lg-6 col-xl-6 mb-5 mb-md-0">
                    <h6>ABOUT US</h6>
                    <h2>{{ entry.bottomabouttitle|raw }}</h2>
                    {{ entry.bottomaboutdescription|raw }}
                </div>
               
            </div>
        </div>
    </section>
    <!-- End About-us -->


{% endblock %}